<%- include("partials/header") -%> 

<div class="section">
  <h1>Započni Test Ovdje</h1>
  <a href="/test"><button class="btn btn-lg btn-primary">START</button></a>
  <img src="img\questionicon.svg" alt="">
</div>

<div class="section">
  <hr>
  <h2>O Projektu</h2>
  <h4 class="quote">„If life gives you lemons, give lemons back.“</h4>
  <p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</div>
<%- include("partials/footer") -%> 