<%- include("partials/header") -%> 

<div class="section">
  <h1>Započni Test Ovdje</h1>
  <a href="/test"><button class="btn btn-lg btn-primary">START</button></a>
  <img src="img\questionicon.svg" alt="">
</div>

<div class="section">
  <hr>
  <h2>O Projektu</h2>
  <h4 class="quote">„Patience is not the ability to wait, but the ability to keep a good attitude while waiting.“</h4>
  <p class="text">Test obuhvaća preko 60 faksova i smjerova u Zagrebu. Algoritam koji se koristi je Work in Progress tako da je sav Feedback dobrodošao. Misliš da je sasvim fulao tvoje želje i sposobnosti? Javi mi predložene faksove i one koje ti misliš da su za tebe. Ti podaci bi uvelike pomogli poboljšanju algoritma!</p>
</div>
<%- include("partials/footer") -%> 